h1 {
	margin: 0.5em;
}

ul {
	list-style-type: none;
}

.bordered_box {
	font-family: monospace;
	padding: 2pt 4pt;
	border: 1px solid #d0d0d6;
	border-radius: 2pt;
	white-space: unset;
	background-color: #ffffff;
}

.parameter_required {
	color: #8a8a8a;
	font-size: 1px;
}

.table th {
	min-width: 200px;
}

.wide_td {
	min-width: 350px;
}

code {
	overflow: scroll;
	height: 200px;
}
